
/tx.exe
/.idea
/builds/build.properties
/packages
/CHANGELOG
/source/media/com_hotspots/kmls
tiles
/source/administrator/components/com_hotspots/version.php
.DS_STORE

/docs/Hotspots.xml~
/source/administrator/components/com_hotspots/liveupdate/classes
/source/administrator/components/com_hotspots/liveupdate/language
/source/administrator/components/com_hotspots/liveupdate/LICENSE.txt
/source/administrator/components/com_hotspots/liveupdate/liveupdate.php
/source/administrator/components/com_hotspots/liveupdate/assets

/source/media/com_hotspots/images/hotspots
/source/media/com_hotspots/images/thumbs
/source/media/com_hotspots/kml
/source/media/com_hotspots/kmls
/source/media/com_hotspots/rss
/source/media/com_hotspots/tiles


/source/libraries/compojoom
/source/language/en-GB/en-GB.lib_compojoom.ini
/source/media/lib_compojoom
/source/language/en-GB/en-GB.lib_compojoom.sys.ini
